//! **************************************************************************
// Written by: Map P.68d on Tue Dec 03 14:29:30 2013
//! **************************************************************************

SCHEMATIC START;
COMP "DETECTEDLED" LOCATE = SITE "J14" LEVEL 1;
COMP "CATHODES<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "CATHODES<1>" LOCATE = SITE "H14" LEVEL 1;
COMP "CATHODES<2>" LOCATE = SITE "J17" LEVEL 1;
COMP "CATHODES<3>" LOCATE = SITE "G14" LEVEL 1;
COMP "CATHODES<4>" LOCATE = SITE "D16" LEVEL 1;
COMP "CATHODES<5>" LOCATE = SITE "D17" LEVEL 1;
COMP "CATHODES<6>" LOCATE = SITE "F18" LEVEL 1;
COMP "CATHODES<7>" LOCATE = SITE "L18" LEVEL 1;
COMP "ROWS<0>" LOCATE = SITE "L15" LEVEL 1;
COMP "ROWS<1>" LOCATE = SITE "K12" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "E17" LEVEL 1;
COMP "ROWS<2>" LOCATE = SITE "L17" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "COLUMNS<0>" LOCATE = SITE "K13" LEVEL 1;
COMP "ROWS<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "F4" LEVEL 1;
COMP "COLUMNS<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "COLUMNS<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "ANODES<0>" LOCATE = SITE "F15" LEVEL 1;
COMP "ANODES<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "ANODES<2>" LOCATE = SITE "H17" LEVEL 1;
COMP "HIGH" LOCATE = SITE "M16" LEVEL 1;
COMP "ANODES<3>" LOCATE = SITE "F17" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

